# Client-side

/client/node_modules
/client/.pnp
/client/.pnp.js

/client/coverage

/client/build

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env
/client/.env.docker

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


# Server-side

/server/.phpunit.cache
/server/node_modules
/server/public/build
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/storage/pail
/server/vendor
/server/.env
/server/.env.docker
/server/.env.backup
/server/.env.production
/server/.phpactor.json
/server/.phpunit.result.cache
/server/serverHomestead.json
/server/Homestead.yaml
/server/auth.json
/server/npm-debug.log
/server/yarn-error.log
/server/.fleet
/server/.idea
/server/.vscode
/server/.zed

#ai
/ai/.env

# Docker
db_data/
*.pid
*.log

# OS / IDE
.DS_Store
.idea
.vscode

# K8S
/k8s/secrets.*

# Deployment
/deployment/envs/local.env
/deployment/envs/prod.env