AI_MODEL_PROVIDER=ollama
AI_ENDPOINT_URL=http://host.minikube.internal:11434/v1
AI_API_KEY=ollama
AI_LLM_MODEL=llama3.2:latest
AI_EMBEDDING_MODEL=nomic-embed-text
AI_EMBEDDING_DIM=768
HUGGINGFACE_TOKENIZER=nomic-ai/nomic-embed-text-v1.5