# Namespace
NAMESPACE=cloudnotes-local

# Laravel app
APP_KEY=PLACE_HOLDER
APP_ENV=production
APP_DEBUG=false
APP_URL=http://cloudnotes.127.0.0.1.nip.io
APP_TIMEZONE=UTC
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Logging
LOG_CHANNEL=stderr

# Passport Keys (Persistent via Environment)
PASSPORT_PRIVATE_KEY=PLACE_HOLDER
PASSPORT_PUBLIC_KEY=PLACE_HOLDER

# Database
DB_DATABASE=cloud_notes
DB_USERNAME=laravel
DB_PASSWORD=123
DB_HOST=mysql
DB_CONNECTION=mysql
DB_PORT=3306

# PG Vector DB
PG_DB_CONNECTION=pgsql
PG_HOST=postgres
PG_PORT=5432
PG_DATABASE=cloudnotes_vector
PG_USERNAME=laravel
PG_PASSWORD=123

# AI Service Configuration
ENABLE_AI=false
AI_SERVICE_URL=http://ai:8000

AI_MODEL_PROVIDER=ollama
AI_ENDPOINT_URL=http://host.minikube.internal:11434/v1
AI_API_KEY=ollama
AI_LLM_MODEL=llama3.2:latest
AI_EMBEDDING_MODEL=nomic-embed-text
AI_EMBEDDING_DIM=768
HUGGINGFACE_TOKENIZER=nomic-ai/nomic-embed-text-v1.5

# Redis
REDIS_HOST=redis
REDIS_CLIENT=phpredis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail (Can be adjusted to use other mailing services)
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=PLACE_HOLDER
MAIL_PASSWORD=PLACE_HOLDER
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=no-reply@mycloudnotes.local
MAIL_FROM_NAME="CloudNotes"
BREVO_API_KEY=PLACE_HOLDER

# Cache / Queue / Session
CACHE_STORE=database
CACHE_PREFIX=
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
FILESYSTEM_DISK=s3

# S3 / MinIO
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=cloudnotes
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_URL=http://cloudnotes.127.0.0.1.nip.io/storage

SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# React client
REACT_APP_ENABLE_AI=false
REACT_APP_NODE_ENV=local
REACT_APP_API_BASE_URL=http://cloudnotes.127.0.0.1.nip.io/api
REACT_APP_CLIENT_ID=PLACE_HOLDER
REACT_APP_CLIENT_SECRET=PLACE_HOLDER
REACT_APP_SECRET_KEY=Cloud-Notes-Client

# Dockerhub creds for prod environment
DOCKER_USERNAME=yourdockerhubusername
DOCKER_PASSWORD=yourpassword
DOCKER_EMAIL=you@example.com
